@import "tailwindcss";

:root {
  --background: #ffffff;

  --ieee-orange: #f9a31b;
  --ieee-dark: #E87722;
  --ieee-darkblue: #002855;
  --ieee-blue: #00629B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-ieeeOrange: var(--ieee-orange);
  --color-ieeeDark: var(--ieee-dark);
  --color-ieeeDarkblue: var(--ieee-darkblue);
  --color-ieeeBlue: var(--ieee-blue);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}
