@import "tailwindcss";

:root {
  --background: #ffffff;

  --ieee-orange: #f9a31b;
  --ieee-dark: #E87722;
  --ieee-darkblue: #002855;
  --ieee-blue: #00629B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-ieeeOrange: var(--ieee-orange);
  --color-ieeeDark: var(--ieee-dark);
  --color-ieeeDarkblue: var(--ieee-darkblue);
  --color-ieeeBlue: var(--ieee-blue);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: var(--ieee-orange);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ieee-dark);
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--ieee-orange) #1a1a1a;
}


/* Selection color */

/* Chrome */
::selection {
  background: var(--ieee-orange); 
  color: #111;       
}

/* Firefox */
::-moz-selection {
  background: var(--ieee-orange);
  color: #111;
}
